<!DOCTYPE html>
<html>
<head>
    <title>Mock Test</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="question-box">

    <div class="timer">
        Time Left: <span id="timer">30:00</span>
    </div>

    <h2>Question 1</h2>

    <p>What does HTML stand for?</p>

    <div class="option">
        <input type="radio" name="q1"> Hyper Text Markup Language
    </div>

    <div class="option">
        <input type="radio" name="q1"> High Transfer Machine Language
    </div>

    <div class="option">
        <input type="radio" name="q1"> Hyperlinks Text Management Language
    </div>

    <div class="option">
        <input type="radio" name="q1"> Home Tool Markup Language
    </div>

    <br>

    <a href="/result">
        <button>Submit Test</button>
    </a>

</div>

<script src="/js/script.js"></script>

</body>
</html>